
@{
    ViewData["Title"] = "Contact";
}
<div >
    <div class="text-center fw-bold">
            <h1>Liên hệ với chúng tôi</h1>
            <span class="fs-4">Hãy liên hệ với chúng tôi, đội ngũ chuyên gia của chúng tôi luôn sẵn sàng trợ giúp.</span>
    </div>
    <div class="row mt-3 fs-5 ms-5 justify-content-center">
        <div class="col-sm-4 fw-bold">
            <i class="bi bi-telephone-fill"></i> 1800 1524 | 0916 001 524 <br />
            <i class="bi bi-envelope-fill"></i> tmv_cs@toyota.com.vn <br />
            <span>Hotline chăm sóc khách hàng</span>
        </div>
        <div class="col-sm-4 fw-bold">
            <i class="bi bi-telephone-fill"></i> (84-28) 7309 0998 <br />
            <i class="bi bi-envelope-fill"></i> cs@toyotafinancial.com.vn <br />
            <span>Hotline hỗ trợ tài chính</span>
        </div>
        <div class="col-sm-4 fw-bold">
            <i class="bi bi-telephone-fill"></i> 1900 633 384 <br />
            <span>Hotline bảo hiểm Toyota</span>
        </div>
    </div>
</div>

