@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <img src="@Url.Content("~/Image/toyota-banner-2.jpg")" class="img-fluid img-thumbnail"/>
    <h1 class="fw-bold">GIỚI THIỆU CHUNG VỀ TOYOTA VIỆT NAM</h1>
    <div>
        <span class="fs-2 fw-bold">Tên công ty:</span>
        <br />
        <span class="fs-2">Công ty Ô tô Toyota Việt Nam</span>
    </div>
    <div>
        <span class="fs-2 fw-bold">Ban lãnh đạo</span><br />
        <span class="fs-2">Tổng giám đốc: Ông Trần Tấn Triết </span><br />
        <span class="fs-2">Phó Tổng giám đốc: Ông Phạm Thanh Tùng</span>
    </div>
    <div>
        <span class="fs-2 fw-bold">Lĩnh vực kinh doanh</span><br />
        <span class="fs-2">Sản xuất và kinh doanh xe ô tô</span>
    </div>
</div>















